body{
    background-image: url(images/scrapesback.jpg);
    background-color: rgb(255, 255, 208);
    font-family: 'Courier New', Courier, monospace;
}
.maintext{
    padding-top: 100px;
    text-align: center;

}
.knees{
    display: flex;
    justify-content: center;
    width: 100%;
}
a :hover{
    background-color: aqua;
}
@media only screen and (max-width: 600px){

    .maintext {
        padding-top: 325px; 
        padding-left: 10px; 
        padding-right: 10px;
    }

    .knees {
        padding-top: 10px;
    }

}