body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(186, 210, 235);
    color: aliceblue;
}
a{
    color: aliceblue;
}
.clocks{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
.clocks img{
    animation: rotateClock 5s linear infinite;
    width: 200px;
}

@keyframes rotateClock {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.text{
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

@media only screen and (max-width: 600px) {
    .clocks {
        padding-top: 100px; /* Reduce top padding for clocks */
    }

    .clocks img {
        width: 100px; /* Decrease clock image width on smaller screens */
    }

    .text {
        padding-top: 200px; /* Reduce top padding for text */
    }
}
