body{
    background-color: rgb(226, 255, 217);
    font-family: 'Courier New', Courier, monospace;
}

.righttext{
    padding-top: 50px;
    width: 100%;
    text-align: left;
    padding-right: 35px;
}

.shoes{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blink2{
    animation: blink-animation 5s steps(5, start) infinite;
}

@keyframes blink-animation {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 5;
    }
    15%{
        opacity: 15;
    }
    20%{
        opacity: 20;
    }
    30%{
        opacity: 30;
    }
    45%{
        opacity: 50;
    }
    60%{
        opacity: 100;
    }
    75%{
        opacity: 50;
    }
    85%{
        opacity: 30;
    }
    90%{
        opacity: 15;
    }
    100%{
        opacity: 0;
    }
  }

.lefttext{
    width: 100%;
    text-align: right;
}

@media only screen and (max-width: 600px){

    .shoes img {
        width: 100%;
        height: auto; 
        max-width: 100%; 
    }
}
