.maintext{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;

}

.rightqs{
padding-bottom: 10%;
width: 100%;
text-align: right;
}

.leftqs{
padding-top: 10%;
width: 100%;
text-align: left;
}

.phone{
align-self: center;
width: 15px;
height: 15px;
}