body{
    background-image: url(images/phonebackgrond.jpg);
    font-family: 'Courier New', Courier, monospace;
    max-width: 1700px;
}
.qmarksright{
    width: 100%;
    text-align: right;
    font-size: small;
}

.maintext{
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    font-size: larger;
}

.rightqs{
    padding-top: 35px;
    padding-bottom: 10px;
    width: 100%;
    text-align: right;
}

.leftqs{
    padding-top: 50px;
    width: 100%;
    text-align: left;
}

.qmarksleft{
    text-align: left;
    width: 50%;
    font-size: small;
}

.phone{
animation: shake 0.75s infinite;
display: flex;
justify-content: center;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      transform: scale(.90);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  a :hover{
    background-color: aqua;
}

  @media only screen and (max-width: 600px) {
    .maintext {
        padding: 5;
        font-size: x-large; 
        width: 100%;
        max-width: 100%;
    }

    .qmarksright, .qmarksleft {
        font-size: x-small; 
    }
    .rightqs{
        padding-top: 50px;
        width: 100%;
        max-width: 100%;
    }
    .leftqs{
        width: 100%;
        max-width: 100%;
    }
    .phone {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}