body{
    background-image: url(images/phonebackgrond.jpg);
    font-family: 'Courier New', Courier, monospace;
}
.qmarksright{
    width: 100%;
    text-align: right;
    font-size: small;
}

.maintext{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    font-size: larger;
}

.rightqs{
padding-bottom: 10%;
width: 100%;
text-align: right;
}

.leftqs{
padding-top: 10%;
width: 100%;
text-align: left;
position: fixed;
}

.qmarksleft{
    text-align: left;
    width: 50%;
    font-size: small;
}

.phone{
display: flex;
justify-content: center;
}