body{
    background-color: rgb(209, 234, 255);
    font-family: 'Courier New', Courier, monospace;
    margin: 5;
}

.maintext{
text-align: center;
}
.bunnies{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    width: 100%;
    max-width: 100%;
}
.hands{
    animation: wiggle 5s infinite;
    display: flex;
    justify-content: center;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    50%{ transform: rotate(5deg);}
   95% { transform: rotate(-5deg); }
}

.crosswalk{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .bunnies {
        flex-direction: column; 
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .crosswalk img {
        width: 100%;
        height: auto; 
        max-width: 100%; 
    }
}
